[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
mypy = "*"
peewee = "*"
peewee-migrate = "*"
python-telegram-bot = "*"
regex = "*"
requests = "*"
requests-cache = "*"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.7"
