[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
peewee = "*"
python-telegram-bot = "*"
requests = "==2.13.0"
requests-cache = "==0.4.13"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.7"
